*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.App{
  height: 100%;
  padding-top: 10px;
  background-color: crimson;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.academlo-logo-contenedor{
  width: 100%;
  height: 200px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.academlo-logo{
  height: 180px;
  filter: drop-shadow(4px 4px 4px #fff);
}
.contendor-calculadora {
 width: 400px;
 height: 80%;
 padding: 14px;
 background-color: #000;
 border-radius: 20px;
 border: 5px solid #fff;
 color: crimson;
 margin-bottom: 2rem;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1536px){
  .App{
    height: 100%;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    width: 100%;
    height: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    height: 180px;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
   width: 400px;
   height: 600px;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (max-width: 1280px){
  .App{
    height: 100%;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    width: 100%;
    height: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    height: 180px;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
   width: 400px;
   height: 600px;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (max-width: 1024px){
  .App{
    height: 100%;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    position: relative;
    right: -1rem;
    width: 100%;
    height: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    height: 180px;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
    position: relative;
    right: -1rem;
   width: 400px;
   height: 600px;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (max-width: 992px){
  .App{
    height: 100%;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    position: relative;
    right: -1rem;
    width: 100%;
    height: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    height: 180px;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
    position: relative;
    right: -1rem;
   width: 400px;
   height: 600px;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (max-width: 768px){
  .App{
    height: 100%;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    position: relative;
    right: -1rem;
    width: 100%;
    height: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    height: 180px;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
    position: relative;
    right: -1rem;
   width: 400px;
   height: 600px;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (max-width: 546px){
  .App{
    height: 100%;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    position: relative;
    width: 100%;
    height: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    width: 350px;
    height: 180px;
    margin-left: .5rem;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
   position: relative;
   width: 300px;
   margin-left: .5rem;
   height: 600px;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (max-width: 420px){
  .App{
    height: 100%;
    width: 440px;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .academlo-logo-contenedor{
    position: relative;
    width: 100%;
    height: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    width: 400px;
    margin-right: 2rem;
    height: 160px;
    margin-left: 1rem;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
   position: relative;
   margin-right: 2.5rem;
   width: 380px;
   height: 600px;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (max-width: 400px){
  .App{
    height: 100%;
    width: 500px;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    width: 100%;
    height: 200px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    position: relative;
    width: 300px;
    height: 160px;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
    position: relative;
    left: 0rem;
   width: 260px;
   height: 600px;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media screen and (max-width: 375px){
  .App{
    height: 100%;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    width: 300px;
    height: 250px;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .academlo-logo{
    position: relative;
    width: 290px;
    height: 40%;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
   position: relative;
   bottom: 2rem;
   width: 260px;
   height: 100%;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 320px){
  .App{
    height: 100%;
    padding-top: 10px;
    background-color: crimson;
    font-family: Lato, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .academlo-logo-contenedor{
    position: relative;
    width: 280px;
    height: 150px;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    margin-right: 10rem;
    justify-content: center;
  }
  .academlo-logo{
    position: relative;
    width: 320px;
    height: 100%;
    top: .2rem;
    margin-bottom: 2rem;
    filter: drop-shadow(4px 4px 4px #fff);
  }
  .contendor-calculadora {
   position: relative;
   margin-right: 10.5rem;
   bottom: 2rem;
   width: 270px;
   height: 100%;
   padding: 14px;
   background-color: #000;
   border-radius: 20px;
   border: 5px solid #fff;
   color: crimson;
  }
  
  .fila {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}